*{
    padding: 0;
    margin: 0;
    font-family: "Roboto" , sans-serif ;
}
.container{
    width: 980px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #ffffff;
    margin-bottom: 2px;
}
header img{
    padding-left: 0px;
}
nav{
     width: 980px;
    height: 35px;
    background: #87CEFA ;
    margin-bottom: 5px;
}
nav .menu ul{
    list-style: none ;
}
nav .menu ul li{
    float: left;
    line-height: 35px;
    padding: 0 15px;
}
nav .menu ul li a{
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
nav .search{
    line-height: 35px;
    float: right;
    margin-right: 25px;
}
article h3{
    text-align: center;
    padding: 15px 0;
    color: darkred;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
article .new_list .new_item{
    width: 28%;
    padding: 12px;
    float: left;
    border: 1px solid #cccccc;
    margin-right: 4%;
}
article .new_list .new_item h4{
    font-size: 16px;
    color: dodgerblue;
}
article .new_list .new_item img{
    margin: 10px auto;
}
article .new_list .new_item .content{
    font-size: 13px;
}
footer{
    margin-top: 20px;
    height: 200px;
    background: mediumblue;
    line-height: 40px;
    text-align: left;
    color:#000000;
    font-size: 18px;
    padding-left: 2px;
    
}
#fix{
    margin-right: 0%;
}