body{
    margin-top: 250px;
    font-family: sans-serif;
    background-image: url("images/background.jpg");
 }

 .signup{
    
    width: 350px;
    height: 300px;
    text-align: center;
    border: 1px solid#87CEFA;
    border-radius: 10px;
    margin : 30px auto;
    background-color:white;
    padding-bottom: 100px;
    
}
 
button{
    margin-top: 30px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    border-color:#87CEFA;
    color: white;
    background-color:#87CEFA ;
}

button:hover{
    width: 222px;
    height: 44px;
}

.enter2{
    width: 250px;
    height: auto;
    border: 1px solid #87CEFA;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}

.enter2 img{
    width: 20px;
    vertical-align: middle;

}

.enter2 input{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    padding-left: 15px;
}
